# .streamlit/secrets.toml
# Copy this file and fill in your keys.
# On Streamlit Community Cloud, add these in the app settings.

COHERE_API_KEY = ""
PINECONE_API_KEY = ""
AZURE_API_KEY = ""
AZURE_REGION = "uksouth"
